@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.navbar{
    font-family: "Inria" !important;
}

.navbar-brand {
    font-family: "Inria Serif", serif;
    font-weight: 550;
    font-style: normal;
    color: #0a0b0c;
}

.navbar-brand:hover {
    color: #000000;
}

.navbar-nav {
    font-family: "Gelasio", serif;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
    color: #0a0b0c;
  }
  
  .navbar-nav .nav-link {
    position: relative;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 3px;
    background-color: #d2691e;
    transition: width 0.3s ease;
  }
  
  .navbar-nav .nav-link.active::after {
    width: 100%;
  }
